Repository submariner-io/submariner-operator, pull requests merged in 2024-09, with the labels that each got.

#3210 Update CRDs for ClustersetIP fields
  api/v1alpha1/broker_types.go
  api/v1alpha1/servicediscovery_types.go
  api/v1alpha1/submariner_types.go
  config/crd/bases/submariner.io_brokers.yaml
  config/crd/bases/submariner.io_servicediscoveries.yaml
  config/crd/bases/submariner.io_submariners.yaml
  pkg/embeddedyamls/yamls.go
Labels: ready-to-test

#3217 Add clustersetip config to LH deployments
  controllers/servicediscovery/servicediscovery_controller.go
  controllers/submariner/servicediscovery_resources.go
  controllers/submariner/submariner_controller.go
  controllers/submariner/submariner_suite_test.go
  pkg/discovery/network/generic_test.go
  pkg/discovery/network/network.go
Labels: ready-to-test

#3219 Check for pod command Arg in pod CIDR discovery
  pkg/discovery/network/generic_test.go
  pkg/discovery/network/network_suite_test.go
  pkg/discovery/network/pods.go
Labels: backport, ready-to-test, release-note-needed, release-note-handled

#3220 Add TCP port to Lighthouse CoreDNS ClusterIP service
  controllers/servicediscovery/servicediscovery_controller.go
  controllers/servicediscovery/servicediscovery_suite_test.go
Labels: ready-to-test

#3227 Fix gosec linting errors with v1.61.0
  pkg/discovery/globalnet/globalnet.go
Labels: ready-to-test

#3221 Automated backport of #3219: Check for pod command Arg in pod CIDR discovery
  pkg/discovery/network/generic_test.go
  pkg/discovery/network/network_suite_test.go
  pkg/discovery/network/pods.go
Labels: ready-to-test, release-note-needed, automated-backport, release-note-handled

#3230 Add clustersetip module to discovery
  pkg/cidr/cidr.go
  pkg/discovery/clustersetip/clustersetip.go
  pkg/discovery/clustersetip/clustersetip_suite_test.go
  pkg/discovery/clustersetip/clustersetip_test.go
  pkg/discovery/clustersetip/config_map.go
  pkg/discovery/globalnet/globalnet.go
Labels: ready-to-test

#3228 Automated backport of #3220: Add TCP port to Lighthouse CoreDNS ClusterIP service
  controllers/servicediscovery/servicediscovery_controller.go
  controllers/servicediscovery/servicediscovery_suite_test.go
Labels: ready-to-test, release-note-needed, automated-backport

#3229 Automated backport of #3220: Add TCP port to Lighthouse CoreDNS ClusterIP service
  controllers/servicediscovery/servicediscovery_controller.go
  controllers/servicediscovery/servicediscovery_suite_test.go
Labels: ready-to-test, release-note-needed, automated-backport

#3233 Fix validations in ValidateClustersetIP
  pkg/discovery/clustersetip/clustersetip.go
Labels: ready-to-test

#3236 Reconcile clustersetip in broker
  controllers/submariner/broker_controller.go
Labels: ready-to-test
